.btn-circle.btn-sm {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

img {
	max-width: 100%;
}

.dropzone .dz-preview {
    margin: 14px !important;
}

.dropzone-check {
    width: 30px; 
    height: 30px;
    border: 2px solid #c22027;
}

.dropzone-check:not(:checked) {
    background: #fff;
}