@font-face {
  font-family:"NeueHaasDisplayMediu";
  src: url("../fonts/NeueHaasDisplayMediu.ttf") format("truetype");
}

@font-face {
  font-family:"NeueHaasDisplayBlack";
  src: url("../fonts/NeueHaasDisplayBlack.ttf") format("truetype");
}

@font-face {
  font-family:"NeueHaasDisplayRoman";
  src: url("../fonts/NeueHaasDisplayRoman.ttf") format("truetype");
}

@font-face {
  font-family:"NeueHaasDisplayLight";
  src: url("../fonts/NeueHaasDisplayLight.ttf") format("truetype");
}

@font-face {
  font-family:"NeueHaasDisplayThin";
  src: url("../fonts/NeueHaasDisplayThin.ttf") format("truetype");
}


body {
    font-family: NeueHaasDisplayRoman;
}

.btn-circle.btn-sm {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.menu {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    display: flex;
    column-gap: 37px;
    align-items: center;
    justify-content: start;
    margin: 0 0 0 -47px;
    text-transform: uppercase;
    font-weight: 200;
}

.menu li:first-child {
    list-style-type: none;
}

.menu li a.active {
    color: #ef5353;
}

.menu a {
    color: #fff;   
    font-size: 24px;
}

#fh5co-header .navbar-brand {
    display: contents;
}

.fh5co-menu-btn {
    margin: 0;
}

#fh5co-header {
    padding-top: 1em;
    padding-bottom: 1em;
}

#fh5co-board .item {
    margin: 0;
}

#fh5co-board .item .fh5co-desc{
    width: 100%;
    font-family: Oswald;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 15px 0 15px;
    line-height: 1.2em;
    height: 90px;
}

#fh5co-board .item.shop .fh5co-desc {
    padding-top: 5px;
}

#fh5co-board .item .fh5co-desc .title {
    height: 20px;
    align-items: center;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

#fh5co-board .item .fh5co-desc .icons {
    font-size: 14px;
}

#fh5co-header {
    margin-bottom: 0;
}

.filters li {
    list-style-type: none;
   display: inline-block;
}

#filter-bar {
    background: #fff;
}

#filter-bar .filters {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5em 0;
  column-gap: 80px;
  padding-left: 10px;
}

#filter-bar .filters ul {
    margin: 0 !important;
    padding: 0 !important;
    color: #ccc;
    font-family: Oswald;
}

#filter-bar .filters ul span {
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
}

#filter-bar .filters ul li:first-child {
    margin-right: 15px;
}

#filter-bar .filters ul li a {
    color: #ccc;
}

#filter-bar .filters ul li a.selected {
    color: #ef5353;
}

.filter-button {
    letter-spacing: normal !important;
    font-size: 15px;
    font-family: Oswald;
    line-height: 15px;
    margin: 0;
}

#fh5co-board {
    margin-top: 1em;
}

.animate-box div.caffle .description {
    font-family: Oswald;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80px;
    font-size: 18px;
}

.animate-box div.caffle .description p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #272727;
}

.animate-box .caffle {
    height: 200px;
    flex-wrap: wrap;
}

span.date {
			position: absolute;
			right: 0;
			bottom: 0;
			background: #cb1d24;
			color: #fff;
			padding: 0 10px;
			opacity: 0.7;
			border-top-left-radius: 2px;
			font-size: 11px;
		}
		
		span.icon-corner {
			position: absolute;
			top: 15px;
			left: 25px;
		}
		
		span.icon-corner i {
			color: #ef5353;
                        font-size: 30px;
		}
                
                .fh5co-desc .icons {
                    display: flex;
                    column-gap: 15px;
                }
                
                span.publish_date {
			
  font-family: Oswald;
  color: #000;
  font-size: 12px;
		}
                
                 div.country {
  font-family: Oswald;
  color: #000;
  font-size: 15px;
  font-weight: 500;
		}
              
                .top_left {
                    padding: 12px;
                    text-align: left;
                    height: 69px;
                    max-width: 80%;
                }
                
                .top_right {
                    padding: 12px;
                    text-align: right;
                    height: 69px;
                }
                
                  @media screen and (max-width: 992px) {
                    
                   

.navbar, #filter-bar {
    display: none;
}
                }     
                
              
          
h1.element_title {
    font-family: Oswald;
    text-transform: uppercase;
}
         
.divide {
    position: relative;
    overflow: hidden;
    margin: 35px 0 25px 0;
    color: #ef5353 !important;
    width: 100%;
}

.divide:after {
    content: '';
    position: absolute;
    width: 100px;
    top: 11px;
    left: 35px;
    height: 0;
    border-top: 2px solid #ef5353;
}

.divide.long {
    margin: 20px 0 15px 0;
}

.divide.long:after {
    width: 100%;
}

.divide i {
    position: relative;
    width: 18px;
    height: 18px;
    line-height: 1;
    font-size: 18px!important;
    text-align: center;
    
}
           
h4.teaser {
    font-family: Oswald;
    line-height: 1.65em;
    font-weight: 300;
}

h3.categories {
    font-family: Oswald;
    text-transform: uppercase;
}

button.btn-number {
    padding: 6px 10px;
    background: #e5e5e5;
    border: none;
    margin-bottom: 0;
}

.input-number {
    height: 32px;
    text-align: center;
}

.shop .btn {
    height: 32px;
    line-height: 27px;
    padding-top: 0;
}

h3.price {
   font-family: Oswald;  
   color: #ef5353;
}

.item .input-number {
    background: #fff;
    border-color: #fff;
}

.add_to_cart  {
    height: 32px;
    position: relative;
}

.cart {
    position: relative;
}

.cart:before {
    content:attr(data-totalitems);
    font-size:12px;
    font-weight:600;
    position:absolute;
    top:-12px;
    right:-12px;
    background:#ef5353;
    line-height:24px;
    padding:0 5px;
    height:24px;
    min-width:24px;
    color:white;
    text-align:center;
    border-radius:24px;
  }
  
  .cart.shake {
    animation: shakeCart .4s ease-in-out forwards;
  }
  
  @keyframes shakeCart {
  25% {
    transform:translateX(6px)
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}

#to-cart {
    font-size:12px;
    font-weight:600;
    position:fixed;
    z-index: 99999999999999;
    margin-left: 18px;
    margin-top: 5px;
    background:#ef5353;
    line-height:24px;
    padding:0 5px;
    height:24px;
    min-width:24px;
    color:white;
    text-align:center;
    border-radius:24px;
    transition: all 0.5s;
    display: none;
}

.product_title {
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
}

.subtitle {
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 30px 0;
}

.cart_view .img-thumbnail {
    max-width: 150px;
}

.cart_view .price {
    font-size: 20px;
    font-family: Oswald;
    font-weight: 500;
    color: #ef5353;
}

.qty {
    font-family: Oswald;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    margin-right: 10px;
    color: #333;
}

#checkout_button {
  letter-spacing: normal !important;
  font-size: 15px;
  font-family: Oswald;
  line-height: 15px;
  margin: 0;
  width: 100%;
}

#subtotal, #tax, #total {
    font-family: Oswald;
}

#register_button {
  letter-spacing: normal !important;
  font-size: 15px;
  font-family: Oswald;
  line-height: 15px;
  width: 100%;
}

.form-check-label {
    font-weight: normal !important;
}

.checkout_view .img-thumbnail {
    max-width: 100px;
}

.checkout_view .price {
    font-size: 20px;
    font-family: Oswald;
    font-weight: 500;
    color: #ef5353;
    text-align: right;
}

#process_button {
  letter-spacing: normal !important;
  font-size: 15px;
  font-family: Oswald;
  line-height: 15px;
  margin: 0;
  width: 100%;
  background: #ef5353;
}

.form-control-for-tags {
    height: auto !important;
    padding: 0;
}

#add_media.dropzone .dz-preview.dz-image-preview {
    margin: 0 !important;
    width: 100%;
}

#add_media.dropzone .dz-preview .dz-image {
    width: 100% !important;
    border-radius: 0;
    height: auto !important;
}

#add_media.dropzone .dz-preview .dz-image img {
    width: 100% !important;
}

.item.social img {
    max-height: 150px;
    float: right;
}

.item.default.comment img {
    max-height: 200px;
    border-radius: 10px;
}

.item.default.comment .icons {
    display: none;
}

.item.default.comment .title {
    margin: 15px;
    text-transform: uppercase;
}

.item.default.comment .title a {
    color: #333 !important;
    font-family: Oswald;
}

.item.default.comment {
    background: #efefef;
    border-radius: 10px;
    margin: 0 1.5rem;
    display: flex;
}

#newCommentModal .item.default.comment {
    padding: 15px;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 400;
}

#fh5co-board .item.social .fh5co-desc .title {
    height: 20px;
}

.shop.item img {
    height: 200px;
}

a[data-totalitems="0"]:before {
    display: none;
}

.item .caffle {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.item:hover .caffle {
    border-top: 2px solid #272727;
    border-left: 2px solid #272727;
    border-right: 2px solid #272727;
}

.item:hover a {
    text-decoration: none !important;
}

.top_right img {
    width: 120px;
    height: 67.5px;
    border-radius: 5px;
}

.shoptitle {
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0;
    height: 26px;
    line-height: 26px;
    font-weight: 500;
}

.shopsubtitle {
    height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0;
    font-size: 18px;
}

.shopcategory {
    font-size: 12px;
    font-weight: 500;
}

.shopcategory i {
    margin-right: 5px;
}

.modal-header, .modal-footer {
    border: none !important;
}

.modal-header h5 {
    font-family: Oswald;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 400;
    font-size: 20px;
}

#filterModal legend {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
}

#filterModal ul {
   list-style-type: none; 
   padding-left: 0;
}

#filterModal ul li {
    text-transform: uppercase;
    font-family: NeueHaasDisplayRoman;
    font-size: 13px;
}

#filterModal ul li a {
    color: #fff;
}

.modal-header i {
    font-size: 1.5em;
}

#newPostButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 110px;
    width: 110px;
    border-radius: 55px;
    text-align: center;
    line-height: 22px;
    padding: 0;
}

.btn {
    letter-spacing: normal !important;
    font-size: 15px;
    font-family: Oswald;
    line-height: 15px;
    padding: 8px 20px 10px 20px;
}

.content {
    font-size: 20px;
    color: #272727;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 30px;
}

.bottom_buttons {
    background: #272727;
    padding: 15px 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.bottom_buttons a {
    color: #fff;
}

.comment_line {
    padding: 15px 0 5px 0;
    background: #fff;
    border-bottom: 3px solid #f5f6f7;
}

.comment_date {
    font-size: 12px;
    line-height: 15px;
    color: #272727;
    text-align: center;
}

.comment_user {
    font-family: Oswald;
    font-weight: 400;
    color: #272727;
    font-size: 15px;
}

.comment_user img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.comment_content {
    font-size: 15px;
    line-height: 20px;
    font-family: NeueHaasDisplayRoman;
    color: #272727;
    align-self: center;
}

.argument_line {
    padding: 15px 10px 20px 10px;
    background: #fff;
    border-bottom: 3px solid #f5f6f7;
}

.argument_number {
    font-family: Oswald;
    color: #ef5353;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.argument_desc {
    font-size: 15px;
    line-height: 20px;
    font-family: NeueHaasDisplayRoman;
    color: #272727;
}

#profile .bg_picture {
    height: 291px;
    background-size: 100% auto;
    background-color: #ddd;
}

#profile .avatar_image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 3px solid #fff;
    margin-top: -75px;
    margin-left: 10px;
    object-fit: cover;
}

#profile .info a {
    color: #272727;
    font-family: NeueHaasDisplayRoman;
}

#profile .info a i {
    color: #ef5353;
}

#profile h3 {
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
}

#profile h4 {
    font-family: Oswald;
    font-weight: 300;
}

#profile .comment_line {
    padding: 10px 0;
    background: #fff;
    border-bottom: 3px solid #f5f6f7;
}

.like_line {
    color: #272727;
}

.like_line img {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.like_line {
    border-bottom: 3px solid #f5f6f7;
}

.like_line .in_reply {
    color: #a9a9a9;
}

.friendly-name {
    color: #272727;
}

#profile .friendly-name:hover {
    text-decoration: none;
}

#profile .text-right span {
    color: rgb(129, 136, 146);
}

.user-picture {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;
}

.dropdown-menu.show {
    top: 5px !important;
    left: 5px !important;
}

.dropdown-menu li a {
    font-family: Oswald;
    padding: 10px 20px;
    border-bottom: 2px solid #eee;
    text-transform: uppercase;
    font-weight: 400;
}

.dropdown-menu li:last-child a {
    border-bottom: 0;
}

#chat .persons {
    list-style-type: none;
    padding: 0;
}

#chat .persons li {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #272727;
    display: flex;
    column-gap: 10px;
    align-items: center;
}    

#chat .persons li div {
    display: flex;
    flex-wrap: wrap;
}

#chat .persons li span {   
    font-family: Oswald;
    font-weight: 400;
    width: 100%;
    font-size: 15px;
}

#chat .persons li small {
    font-family: NeueHaasDisplayRoman;
    font-weight: 300;
    width: 100%;
}
#chat .persons li.active {
    border: 2px solid #272727;
}

#chat .recipient_area {
    background: #fff;
    padding: 15px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.tagify__dropdown__item {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.tagify__dropdown__item__avatar-wrap img, .tagify__tag__avatar-wrap img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}

.tagify__tag {
    background: #e5e5e5;
}

.tagify__tag-text {
    line-height: 30px;
    margin-left: 10px;
}

.tagify__tag > div::before {
    box-shadow: 0 0 0 1.6em var(--tag-bg) inset;
}

.tagify__tag__removeBtn:hover+div::before {
  box-shadow:0 0 0 1.6em  var(--tag-remove-bg,rgba(211,148,148,.3)) inset!important;
}